In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('tripdata.csv', na_values= '---')
data.dropna(how='all')
data.head()

,VendorID,pickup_day,pickup_time,minute_pickup,dropoff_day,dropoff_time,minute_dropoff,trip_duration,passenger_count,trip_distance,...,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,1,00:15:40,15.67,1,00:16:46,16.77,1.10,1,0.0,...,145,145,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30
1,1,1,00:04:18,4.30,1,00:09:18,9.30,5.00,1,1.0,...,230,161,1,5.5,0.5,0.5,1.35,0.0,0.3,8.15
2,1,1,00:14:39,14.65,1,00:29:46,29.77,15.12,1,3.3,...,100,263,2,13.0,0.5,0.5,0.00,0.0,0.3,14.30
3,1,1,00:51:25,51.42,1,00:51:29,51.48,0.06,3,0.0,...,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80
4,1,1,00:55:06,55.10,1,00:55:10,55.17,0.07,1,0.0,...,145,145,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80

In [4]:
x= data.drop(['total_amount','fare_amount', 'pickup_time', 'dropoff_time','store_and_fwd_flag', 'mta_tax', 'improvement_surcharge', 'extra','RatecodeID','minute_dropoff','dropoff_day'], axis=1)
x.head()

,VendorID,pickup_day,minute_pickup,trip_duration,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,tip_amount,tolls_amount
0,1,1,15.67,1.10,1,0.0,145,145,2,0.00,0.0
1,1,1,4.30,5.00,1,1.0,230,161,1,1.35,0.0
2,1,1,14.65,15.12,1,3.3,100,263,2,0.00,0.0
3,1,1,51.42,0.06,3,0.0,145,145,2,0.00,0.0
4,1,1,55.10,0.07,1,0.0,145,145,2,0.00,0.0

In [7]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [8]:
pca=PCA()
sc=StandardScaler()

In [11]:
X=sc.fit_transform(x)
X=sc.transform(x)

In [12]:
X1=pca.fit_transform(X)

In [13]:
X1=pca.transform(X)

In [14]:
explained_variance = pca.explained_variance_ratio_
print(explained_variance)

[0.19548491 0.11253581 0.11226302 0.10582509 0.09495049 0.0917884
 0.08079846 0.06953222 0.06933613 0.03962039 0.02786509]

In [15]:
print(pca.singular_values_)

[1501.59392436 1139.30830274 1137.92657878 1104.81664241 1046.51264864
 1028.93935187  965.37808133  895.54816508  894.28442945  676.01329528
  566.92563882]

In [16]:
pca.get_precision()

array([[ 1.06021372e+00, -7.52706782e-03,  1.16560088e-03,
         3.79157253e-03, -2.48072822e-01, -3.29233287e-02,
         1.64207618e-02,  9.59087305e-03,  3.74165223e-02,
         2.20767695e-02, -5.87526615e-04],
       [-7.52706782e-03,  1.02895888e+00,  1.70817686e-01,
         3.87381783e-02,  2.81896166e-03, -2.16466574e-02,
        -7.44162249e-03, -5.90611458e-03, -8.55661687e-03,
         1.08450699e-03, -1.66366487e-02],
       [ 1.16560088e-03,  1.70817686e-01,  1.05726223e+00,
         1.69915095e-01, -1.27936377e-02,  4.03424485e-02,
        -3.23300917e-02, -2.62870232e-02, -2.24187278e-02,
        -3.64735099e-02, -2.31809013e-02],
       [ 3.79157253e-03,  3.87381783e-02,  1.69915095e-01,
         1.02843985e+00,  1.50243068e-03,  2.33501402e-02,
        -1.54778533e-02, -1.29246461e-02, -1.15881570e-02,
        -8.50947991e-03, -3.67115736e-02],
       [-2.48072822e-01,  2.81896166e-03, -1.27936377e-02,
         1.50243068e-03,  1.05854752e+00, -1.00229350e-02,
        -4.86121945e-04,  1.75576473e-03, -9.45773486e-03,
         7.89336090e-03, -3.66493491e-03],
       [-3.29233287e-02, -2.16466574e-02,  4.03424485e-02,
         2.33501402e-02, -1.00229350e-02,  1.91924408e+00,
         8.50892058e-02,  8.97170544e-02, -3.27446745e-01,
        -8.50111198e-01, -7.77346078e-01],
       [ 1.64207618e-02, -7.44162249e-03, -3.23300917e-02,
        -1.54778533e-02, -4.86121945e-04,  8.50892058e-02,
         1.01990398e+00, -1.04498569e-01,  1.93755801e-02,
        -9.86428743e-04, -1.58429634e-02],
       [ 9.59087305e-03, -5.90611458e-03, -2.62870232e-02,
        -1.29246461e-02,  1.75576473e-03,  8.97170544e-02,
        -1.04498569e-01,  1.02114432e+00,  2.53141309e-02,
         3.72386838e-03, -8.53503836e-03],
       [ 3.74165223e-02, -8.55661687e-03, -2.24187278e-02,
        -1.15881570e-02, -9.45773486e-03, -3.27446745e-01,
         1.93755801e-02,  2.53141309e-02,  1.39499634e+00,
         8.85753765e-01, -1.28581291e-01],
       [ 2.20767695e-02,  1.08450699e-03, -3.64735099e-02,
        -8.50947991e-03,  7.89336090e-03, -8.50111198e-01,
        -9.86428743e-04,  3.72386838e-03,  8.85753765e-01,
         2.00968972e+00, -3.20236815e-01],
       [-5.87526615e-04, -1.66366487e-02, -2.31809013e-02,
        -3.67115736e-02, -3.66493491e-03, -7.77346078e-01,
        -1.58429634e-02, -8.53503836e-03, -1.28581291e-01,
        -3.20236815e-01,  1.59183150e+00]])

In [17]:
X2=pca.inverse_transform(X1)

In [18]:
X3=sc.inverse_transform(X2)

In [20]:
type(X3)

numpy.ndarray

In [25]:
data.keys()

Index(['VendorID', 'pickup_day', 'pickup_time', 'minute_pickup', 'dropoff_day',
       'dropoff_time', 'minute_dropoff', 'trip_duration', 'passenger_count',
       'trip_distance', 'RatecodeID', 'store_and_fwd_flag', 'PULocationID',
       'DOLocationID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount'],
      dtype='object')

In [26]:
data2=pd.DataFrame(X3, columns=['VendorID', 'pickup_day', 'minute_pickup', 'trip_duration', 'passenger_count',
       'trip_distance', 'PULocationID',
       'DOLocationID', 'payment_type',
       'tip_amount', 'tolls_amount'])
data2.head()

,VendorID,pickup_day,minute_pickup,trip_duration,passenger_count,trip_distance,PULocationID,DOLocationID,payment_type,tip_amount,tolls_amount
0,1.0,1.0,15.67,1.10,1.0,-4.440892e-15,145.0,145.0,2.0,1.332268e-15,-1.387779e-15
1,1.0,1.0,4.30,5.00,1.0,1.000000e+00,230.0,161.0,1.0,1.350000e+00,-1.776357e-15
2,1.0,1.0,14.65,15.12,1.0,3.300000e+00,100.0,263.0,2.0,-4.440892e-16,-1.776357e-15
3,1.0,1.0,51.42,0.06,3.0,-4.884981e-15,145.0,145.0,2.0,-1.110223e-15,-1.054712e-15
4,1.0,1.0,55.10,0.07,1.0,-4.440892e-15,145.0,145.0,2.0,4.440892e-16,-1.332268e-15

In [28]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model

In [29]:
model = linear_model.LinearRegression()
x=data2
y=data.fare_amount
model.fit(x,y)
y_hat = model.predict(x)

In [30]:
print ("Coefficients:", model.coef_)
print ("Intercept:", model.intercept_)
print ("MSE:", mean_squared_error(y_hat, y))
print ("R^2:", r2_score(y_hat, y))

Coefficients: [ 1.95699081e-02 -5.34952668e-02  4.37792524e-04  7.81099716e-04
 -8.76420985e-03  2.41960630e+00  6.58325560e-04 -5.38849875e-04
  1.32329331e+00  6.72711936e-01  3.52036601e-01]
Intercept: 2.5172362308433733
MSE: 83.38930694643416
R^2: 0.28139870314791615

In [7]:
import statsmodels.formula.api as smf

In [9]:
reg='fare_amount~ minute_pickup+pickup_day+PULocationID+tip_amount+VendorID+trip_duration+trip_distance'
model=smf.ols(formula= reg, data=data)
model.fit()
print(model.fit().summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            fare_amount   R-squared:                       0.579
Model:                            OLS   Adj. R-squared:                  0.579
Method:                 Least Squares   F-statistic:                 2.061e+05
Date:                Mon, 03 Dec 2018   Prob (F-statistic):               0.00
Time:                        13:31:30   Log-Likelihood:            -3.8106e+06
No. Observations:             1048574   AIC:                         7.621e+06
Df Residuals:                 1048566   BIC:                         7.621e+06
Df Model:                           7
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         4.1700      0.047     89.237      0.000       4.078       4.262
minute_pickup     0.0005   2.39e-05     20.423      0.000       0.000       0.001
pickup_day       -0.0441      0.008     -5.549      0.000      -0.060      -0.029
PULocationID      0.0005      0.000      4.032      0.000       0.000       0.001
tip_amount        0.5506      0.004    134.608      0.000       0.543       0.559
VendorID         -0.0193      0.018     -1.066      0.286      -0.055       0.016
trip_duration     0.0009   6.43e-05     14.359      0.000       0.001       0.001
trip_distance     2.5431      0.003    929.281      0.000       2.538       2.548
=================================================================================
Omnibus:                  6808877.352   Durbin-Watson:                      1.979
Prob(Omnibus):                  0.000   Jarque-Bera (JB):   10506330327711578.000
Skew:                         576.556   Prob(JB):                            0.00
Kurtosis:                  490380.351   Cond. No.                        4.85e+03
=================================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 4.85e+03. This might indicate that there are
strong multicollinearity or other numerical problems.